<section id="blog" class="container">
    <div class="center">
        <h2>Editing package file <code><%= @package_file.package_file_name %></code>.</h2>
        <p class="lead"></p>
    </div>
    <div class="blog">
        <div class="row">
            <div class="col-md-12">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</section>