<section>
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Member</h2>
             <p class="lead">Email: <%= @user.email if @user.email %></p>
        </div>        
        <div class="row">
        </div>
    </div>
</section>
