<div class="container">
	<h1 class="page-header">Editing Document<p class="lead"></p></h1>
	<div class="blog">
		<div class="row">
			<div class="col-md-8">
                <%= render 'form' %>
		    </div>
	        <div class="col-md-4">
             
	     	</div>
		</div>
		<div class="row">
	        <div class="col-md-4">
				<%= link_to 'Show', @document %> | <%= link_to 'Back', documents_path %>
	     	</div>
		</div>
	</div>
</div>
