<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Manage wiki</h2>
            <p class="lead">Manage wiki in system platform development team.</p>
        </div>        
        <div class="row">
            <div class="col-md-9">
                <%#= render 'adminItem' %> 
                <%= @wikis %>
            </div>
            <div class="col-md-3">
                <div class="widget search">
                    <%= form_tag wikis_path, :method => 'get' do %>
                        <div class="form-group">
                        <%= text_field_tag :search, params[:search] , class: "form-control search_box", id:"search", placeholder: "Search"%>    
                        </div>
                    <% end %>
                    <form role="form">
                        <% if can? :manage, new_product_path %>
                            <div class="form-group">
                              <%= link_to "New Wiki", new_wiki_path, class: "btn btn-primary btn-block" %>
                            </div>
                        <% end %>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
