<form  class="form-horizontal"  name="formDocument" ng-submit="createDocumnet(formDocument);">
    {{formDocument}}
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-8">
            <input type="text" id="document_name" name="formDocument[name]" ng-model="formDocument.name"  class="form-control" required="required"/>
            <i>(minimum is 2 characters) (maximum is 50 characters) </i>
        </div>
    </div>
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-8">
            <textarea id="document_description"  name="formDocument[description]" ng-model="formDocument.description" class="form-control"/>
            <i>(maximum is 125 characters) </i>
        </div>
    </div>
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Prodcut</label>
        <div class="col-sm-8">
            <select class="form-control" ng-options="product.id as product.name for product in products_is_public" ng-model="formDocument.product_id" required="required"  id="document_product_id" name="formDocument[product_id]">
                <option value="" selected >--&nbsp;Please select product&nbsp;--</option>
            </select>
        </div>
    </div>
    <div class="form-group has-warning">
        <label class="col-sm-2 control-label">Document file</label>
            <input type="file" id="document_document"  name="formDocument[document]" />
            <i>The maximum file size is 100 megabytes.</i>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-3 col-sm-offset-2">
          <div class="checkbox">
            <label>
              <input type="checkbox" value="1" id="document_is_public" ng-model="formDocument.is_public" name="formDocument[is_public]" /><b>Public</b>
            </label>
          </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input type="submit" name="commit" value="Create Document" class="btn btn-primary btn-lg" />
        </div>
    </div>
</form>
